.App{
  margin:0 auto;
  color: white;
  position: relative;
  width: 370px;
  height: 530px;
  background-color: #1c1c1c;
  border-radius: 50px 5px;
  padding: 1rem;
  overflow: hidden;
}
.App::before{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 370px;
  height: 530px;
  background: linear-gradient(60deg,transparent,#45f3ff,#45f3ff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  overflow: hidden;
}
.App::after{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 370px;
  height: 530px;
  background: linear-gradient(60deg,transparent,#d9138a,#d9138a);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
  overflow: hidden;
}
.heading{
  text-align: center;
  color: #45f3ff;
}
.inputBox{
  position: relative;
  margin-top: 15px;
  width: 100%;
}
.inputBox input{
  border: none;
  border-bottom: 2px solid #45f3ff;
  color: white;
 padding: 15px 10px 10px;
 position: relative;
 left: 0;
 width: 100%;
 outline: none;
 background: transparent;
 font-size: 1em;
}
.radio-group{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
@keyframes animate {
  0%{
    transform: rotate(0deg);
  }100%{
    transform: rotate(360deg);
  }
}
.form{

  position: absolute;
  inset: 2px;
  border-radius: 50px 5px;
  background: #28292d;
  z-index: 10;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
}
button{
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #45f3ff;
  padding: 5px;
  border-radius: 90px !important;
  font-weight: 600;
  margin-top: 10px!important;
  cursor: pointer;
}
button:active{
  background: linear-gradient(90deg,#45f3ff,#d9138a);
  opacity: 0.8;
}
.inputBox label{
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.inputBox label{
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  pointer-events: none;
  transition: 0.5s;
} 
.inputBox input:valid ~ label,
.inputBox input:focus ~ label{
  color: #45f3ff;
  transform: translateX(-20px) translateY(-30px);
  font-size: 0.75em;
}
@media (max-width: 768px) {
  .App {
      height: 400px;
      padding: 1rem;
  }
  .inputBox label{
    top: 10px;
    left: 10px;
  }
  .form {
      padding: 20px;
  }

  button {
      font-size: 18px;
  }
}

@media (max-width: 480px) {
  .App {
      max-width:300px;
      height: 400px;
      padding: 0.5rem;
  }

  .inputBox label{
    top: 10px;
    left: 10px;
  }
  .form {
      padding: 15px;
  }
  .inputBox{
    margin: 0;
  }
  .inputBox input{
    padding: 15px 10px 0;
  }
  button {
      font-size: 16px;
  }
}